p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0px;
}
.card{

    border: none;
}
.general{
  width: 42%;margin-left: 20px;margin-right: 20px;
}
.modal3{
  width: 350px;
  height: auto;

}

