<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Reporte Resumen Total"  [options]="false">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label for="">Fecha:</label>
              <input class="form-control" placeholder="fecha" #del="ngbDatepicker" name="del" [(ngModel)]="yesterday" ngbDatepicker (click)="del.toggle()" />
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-outline-primary margen" (click)="reporteRecepcion()"><i class="feather icon-check-circle"></i>Procesar</button>
          </div>
          <div class="col-lg-3">
            <button type="button" class="btn btn-outline-primary margen" (click)="exportarXLSX()"><i class="feather icon-file"></i>A Excel</button>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table  row-border table-hover">
            <thead>
              <tr class="bg-c-blue text-white">
                    <th>#</th>
                    <th >Sucursal</th>
                    <th >Saldo Dia Anterior</th>
                    <th >Guias Efectivo</th>
                    <th >Guias por Pagar Entregados</th>
                    <th >Guias Efectivo Transoft</th>
                    <th >Guias por Pagar entregados transoft</th>
                    <th >Guias Manuales </th>
                    <th >Guias Corporativos</th>
                    <th >Gastos oficina</th>
                    <th >Caja Efectivo</th>
                    <th >Traspaso de Caja a Banco</th>
                    <th >Saldo en Caja</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of resumen,index as id">
                    <th class="bg-c-blue text-white">{{id+1}}</th>
                     <td>{{ item.sucursal }}</td>
                    <td>{{ item.saldo_anterior}}</td>
                    <td>{{ item.recepcion_pagado}}</td>
                    <td>{{ item.entrega_pagado}}</td>
                    <td>{{ item.recepcion_fact }}</td>
                    <td>{{ item.entrega_fact}}</td>
                    <td>{{item.ingreso_oficina}}</td>
                    <td>{{item.corporativo}}</td>
                    <td>{{item.gastos_oficina}}</td>
                    <td>{{item.subtotal}}</td>
                    <td>{{item.traspaso_banco}}</td>
                    <td>{{item.total}}</td>
              </tr>

            </tbody>
            <tfoot>
              <tr class="text-white" style="background:rgb(58, 199, 241); ;">
                <th></th>
                <th >TOTALES EFECTIVO</th>
                <th>{{total1 | number}}</th>
                <th>{{total2 | number}}</th>
                <th>{{total3 | number}}</th>
                <th>{{total4 | number}}</th>
                <th>{{total5 | number}}</th>
                <th>{{total6 | number}}</th>
                <th>{{total7 | number}}</th>
                <th>{{total8 | number}}</th>
                <th>{{total9 | number}}</th>
                <th>{{total10 | number}}</th>
                <th>{{total11 | number}}</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </app-card>
  </div>
</div>
