<app-card cardTitle="Datos totales de Transportadora" [options]="false">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card theme-bg">
        <div class="card-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto">
              <img src="assets/images/widget/shape4.png" alt="activity-user">
            </div>
            <div class="col">
              <h2 class="text-white f-w-300">520</h2>
              <h5 class="text-white">All Properties</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card theme-bg2">
        <div class="card-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto">
              <img src="assets/images/widget/shape5.png" alt="activity-user">
            </div>
            <div class="col">
              <h2 class="text-white f-w-300">375</h2>
              <h5 class="text-white">Sale Product</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card theme-bg">
        <div class="card-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto">
              <img src="assets/images/widget/shape6.png" alt="activity-user">
            </div>
            <div class="col">
              <h2 class="text-white f-w-300">$874</h2>
              <h5 class="text-white">Total Earnings</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>
<app-card cardTitle="DATOS GENERALES" [options]="false">
  <div class="row">
    <div class="col-xl-12 col-md-12">
      <div class="row pb-3">
        <div class="col-md-4 col-6 text-center m-b-10">
          <h3 class="f-w-300">$2356.4</h3>
          <span>Invoiced</span>
        </div>
        <div class="col-md-4 col-6 text-center m-b-10">
          <h3 class="f-w-300">$1935.6</h3>
          <span>Profit</span>
        </div>
        <div class="col-md-4 col-12 text-center m-b-10">
          <h3 class="f-w-300">$468.9</h3>
          <span>Expenses</span>
        </div>
      </div>
      <div id="bar-chart3" class="bar-chart3" style="height:280px;"></div>
    </div>
  </div>
</app-card>




