<ul class="navbar-nav">
  <li appToggleFullScreen><a href="javascript:" class="full-screen"><i class="feather icon-maximize"></i></a></li>
  <!-- <li class="nav-item dropdown" ngbDropdown [placement]="['bottom-left', 'bottom-right']">
    <i class="feather icon-home"></i>
    &nbsp;
    <a href="javascript:" data-toggle="dropdown" ngbDropdownToggle>Sucursal Cochabamba</a>
    <ul class="dropdown-menu" ngbDropdownMenu>
      <li><a class="dropdown-item" href="javascript:">Sucursal Cochabamba</a></li>
      <li><a class="dropdown-item" href="javascript:">Sucursal Cochabamba</a></li>
      <li><a class="dropdown-item" href="javascript:">Sucursal Cochabamba</a></li>
    </ul>
  </li> -->
  <!-- <li class="nav-item">
    <app-nav-search></app-nav-search>
  </li> -->
</ul>
